{% extends 'accounts/base.html' %} {% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}
{% block body %}
{% if request.user.is_authenticated %}
<div class="card text-center mt-2">
  <div class="card-header">Log in page.</div>
  <div class="card-body">
    <h5 class="card-title">
      You are already logged in as: <strong>{{ request.user.username }}</strong>
    </h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="{% url 'logout' %}" class="btn btn-outline-secondary"
      >Click here to log out</a
    >
  </div>
</div>
{% else %}
<form method="POST">
  {% csrf_token %} {{ form|crispy }}
  <div class="d-grid gap-2 mt-3">
    <button class="btn btn-outline-secondary" type="submit">Log In</button>
  </div>
</form>
<div class="text-muted">
  <small
    >Don't have an accoutn?
    <a href="{% url 'register' %}">Register here.</a></small
  >
</div>
{% endif %} {% endblock body %}
