{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}
{% block body %}
{% if request.user.is_authenticated %}
<div class="card text-center mt-2">
  <div class="card-header">Log in page.</div>
  <div class="card-body">
    <h5 class="card-title">
      You are already registered in as: <strong>{{ request.user.username }}</strong>
    </h5> 
    <a href="{% url 'logout' %}" class="btn btn-outline-secondary"
      >Click here to log out</a
    >
  </div>
</div>
{% else %}
<form method="POST">
  {% csrf_token %}
  {{ registration_form|crispy }}
  <div class="d-grid gap-2 mt-3">
    <button class="btn btn-outline-secondary" type="submit">Register and log in.</button>
  </div>
  <div class="text-muted">
    <small>Already registered? <a href="{% url 'login' %}">Log in.</a></small>
  </div>
</form>
{% endif %}
{% endblock body %}
