{% extends 'accounts/base.html' %}
{% block title %}User list{% endblock title %}
{% block body %}
<ul class="list-group mt-2">
  <li class="list-group-item d-flex justify-content-between align-items-center">
  Username:
    <div>
    <small class="text-muted">Number of logins:</small>
    </div>
  </li>
{% for item in user_list %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
  <a href="{% url 'details' item.pk %}">{{ item }}</a>
    <div>
    <span class="badge bg-secondary rounded-pill">{{ item.login_count }}</span>
    </div>
  </li>
{% endfor %}
</ul>
{% endblock body %}
